md-content {
	background: url(img/freddy-marschall-186919.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.button-flip {
	transition: all 0.5s ease-in;
	z-index: 9998;
}

.button-flip:hover {
	transform: scale(1.5);
	transition: all 1s ease-in;
	transition-timing-function: cubic-bezier(0, 0, 0, 1.54);
	z-index: 9999;
}

.expand {
	transition: all .5s ease-in-out;
	z-index: 3;
}

.expand:hover {
	transform: scale(1.2);
	transition: all .5s ease-in-out;
	transition-timing-function: cubic-bezier(0, 0, 0, 1.54);
	z-index: 9999;
}

div>.live-button-box,
.wrap {
	position: relative;
	height: auto;
}

.live-button {
	position: absolute;
	top: 7em;
	left: 3em;
	right: 3em;
}

.portfolio-img {
	height: 300px;
	width: 100%;
}

.profile-pic {
	margin: 25px auto;
	background-position: 40% 30%;
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-image: url(img/IMG_0664.PNG);
	transition: all .5s ease-in-out;
	z-index: 9999;
}

.profile-pic:hover {
	transform: scale(1.5);
	transition: all .5s ease-in-out;
	transition-timing-function: cubic-bezier(0, 0, 0, 1.54);
	z-index: 9999;
}