md-content {
	background: url(img/freddy-marschall-186919.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

md-content {}

.box {
	margin: 25px auto;
	background: #5FCF80;
	width: 150px;
	height: 150px;
}

.box:hover {
	transform: rotate(360deg);
	background: #9351A6;
	border-radius: 50%;
}

.button-flip:hover {
	transform: rotateX(360deg);
	transition: all 1s ease-in;
	width: 100%;
	z-index: 99999;
	perspective: 100px;
}

.rotate {
	transition: all 4s ease-in-out;
}

.rotate:hover {
	transition: all 1s ease-in-out;
	
}

.portfolio-img {
	height: 300px;
	width: 100%;
}

.profile-pic {
	margin: 25px auto;
	background-position: 40% 30%;
	height: 175px;
	width: 175px;
	border-radius: 50%;
	background-image: url(img/IMG_0664.PNG);
}

.profile-pic:hover {
	height: 200px;
	width: 200px;
	transition: all .5s ease-in-out;
}
