<div layout-margin flex-gt-sm="70" flex-offset-gt-sm="15">
	<md-card layout="column" flex md-whiteframe="10">
		<md-toolbar md-whiteframe="6" class="md-toolbar-tools">
			<span class="md-padding md-heading">Get In Touch!</span>
		</md-toolbar>
		<md-card>
			<md-card-title layout-align="center center">
				<span class="md-headline">Contact Info</span>

			</md-card-title>

			<div flex flex-gt-sm="70" flex-offset-gt-sm="15">
				<md-divider></md-divider>
				<md-card-content layout-gt-sm="row">

					<div flex-gt-sm="50" layout="column" layout-align="center center">

						<md-list>
							<ul>
								<div>
									<md-icon class="material-icons">home</md-icon>{{vm.contact.street}}<br>
									<md-icon></md-icon>{{vm.contact.city}}, {{vm.contact.state}} {{vm.contact.zip}}
								</div>

							</ul>
							<ul>
								<md-icon class="material-icons">phone</md-icon>{{vm.contact.phone}}</ul>
							<ul>
								<md-icon class="material-icons">email</md-icon>
								<a>{{vm.contact.email}}</a>
							</ul>
						</md-list>
					</div>

					<div flex-gt-sm="50" layout="column" layout-align="center center">
						<md-button class="md-accent md-raised button-flip" ng-href="{{vm.contact.emailto}}">
							Email Me
							<md-icon class="material-icons">send</md-icon>
						</md-button>
						<md-button class="md-accent md-raised button-flip" ng-href="assets/docs/resume.pdf" download="ZachKesslerResume" target="_blank">
							Download My Resume
							<md-icon class="material-icons">file_download</md-icon>
						</md-button>
						<md-button class="md-accent md-raised button-flip" ng-href="{{vm.contact.linkedin}}" target="_blank">
							See My LinkedIn
							<ng-md-icon icon="linkedin"></ng-md-icon>
						</md-button>
					</div>
				</md-card-content>
			</div>
		</md-card>
	</md-card>
</div>