<div layout-margin flex-gt-sm="70" flex-offset-gt-sm="15">
	<md-card layout="column" flex md-whiteframe="10">
		<md-toolbar md-whiteframe="6" class="md-toolbar-tools">
			<span class="md-padding md-heading">Get In Touch!</span>
		</md-toolbar>
		<md-card>
			<md-card-title layout-align="center center">
				<span class="md-headline">Contact Info</span>
			</md-card-title>
			<md-card-content layout-gt-sm="row">
				<div flex-gt-sm="50" layout="column" layout-align="center center">
					<md-list>
						<md-list-item>{{vm.contact.street}}</md-list-item>
						<md-list-item>{{vm.contact.city}}, {{vm.contact.state}} {{vm.contact.zip}}</md-list-item>
						<md-list-item>{{vm.contact.phone}}</md-list-item>
						<md-list-item><a>{{vm.contact.email}}</a></md-list-item>
					</md-list>
				</div>
				<div flex-gt-sm="50" layout="column" layout-align="center center">
					<md-button class="md-accent md-raised button-flip" ng-href="mailto:{{vm.contact.email}}">Email Me Here</md-button>

					<md-button class="md-accent md-raised button-flip" ng-href="assets/docs/resume.pdf" download="ZachKesslerResume">Download My Latest Resume Here</md-button>

				</div>

			</md-card-content>
		</md-card>
	</md-card>
</div>
